

.markerSvgContainer {
  height: 40px;
  width: 40px;
  right: 12px;
  bottom: 20vh;
  cursor: pointer;
  text-align: center;
  background-color: white;
}

.markerSvg {
  width: 30px;
  height: 30px;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .markerSvgContainer {
    height: 40px;
    width: 40px;
    right: 15px;
    bottom: 170px;
  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .markerSvgContainer {
    height: 40px;
    width: 40px;
    right: 15px;
    bottom: 140px;
  }
}
