@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model networkaccess.Areas.Admin.Models.ManageClaimsViewModel
<!DOCTYPE html>

<html>

<head>
    <link href="~/Areas/Admin/css/claimManagement.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
</head>

<body>
    <div class="m-b-md">
        <h3 class="m-b-none">SAP Client</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="@Url.Action("ClaimManagement", "ClaimManagementAccess")"><i class="fa fa-rupee"></i> Claim Management</a>
                </li>
                <li class="active">SAP Client</li>
            </ul>
        </div>
        <div class="col-lg-12" id="dvPageMessage">
            @Html.Partial("_PageMessage")
        </div>
    </div>

    <div class="smallBox">
        <div class="m-l-4 CMAlabel">SAP Client</div>

        <table id="clientSapTable" class="table table-striped table-light m-l-4"
               style="color: black; font-size: 12px; width: 700px;">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Client Id</th>
                    <th>SAP Api</th>
                    <th>Last Updated On</th>
                    <th>Modified By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button type="button" class="btn btn-secondary btn-sm CSadd" id="CSadd">Add</button>
    </div>

    <div class="modal" id="newCS" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Client Id and Sap Id</h5>
                    <button type="button" class="close modalCloseBtn" onclick="closeCSModal()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="df fc">
                        <div class="df rwaModalRow">
                            <div class="addRWALabel">
                                Client Id
                            </div>
                            <div>
                                <select class="chosen" id="newClientId" multiple data-placeholder="Choose Client Id"></select>

                            </div>
                        </div>

                        <div class="df rwaModalRow">
                            <div class="addRWALabel">
                                Sap Api Id
                            </div>
                            <div>
                                <input id="newSapApiId" class="inputPerdiemWidth" />

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeCSModal()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="CsaddRow" onclick="CsaddRow()">Submit</button>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Areas/Admin/js/claims/claimManagement.js"></script>
</body>

</html>
