    @{
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }

    @model networkaccess.Areas.Admin.Models.ManageClaimsViewModel
    <!DOCTYPE html>

    <html>

    <head>
        <link href="~/Areas/Admin/css/frAdmin.css" rel="stylesheet" />
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    </head>

    <body>
        <div class="m-b-md">
            <h3 class="m-b-none">Job Role Access</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Role", "FR")"><i class="fa fa-rupee" ></i> FR Admin</a>
                    </li>
                    <li class="active">Job Role Access</li>
                </ul>
            </div>
            <div class="col-lg-12" id="dvPageMessage">
                @Html.Partial("_PageMessage")
            </div>
        </div>

        <div class="bigBox marginTop">
            <div class="df" style="justify-content:space-between;">
                <div class="m-l-4 CMAlabel">Job Role Table</div>
                <div class="df pa selectesaSortBy">
                    <div>
                        Sort
                    </div>
                    <div>
                        <select onchange="onChangejobCodeSort()" class="selectSortBox">
                            <option value="jobcode">Job Code</option>
                            <option value="createdby">Created By</option>
                            <option value="createdon">Created On</option>
                            <option value="modifiedby">Modified By</option>
                            <option value="modifiedon">Modified On</option>
                            <option value="ifavailable">Enabled</option>
                            <option value="ifmandatory">Mandatory</option>
                        </select>
                    </div>
                </div>
                <div class="excel_box" onclick="roleTablExport()">
                @*<div class="excel_box">*@
                    @*<a id="lnkExportAtt" href="~/ClaimManagementAccess/ExportData/?TabType=2&ids=1234" target="_blank">  <img src=" /Areas/Admin/images/excel_export.png" style="width: 20px;height: 20px;margin-left: 2px;" /></a>*@
                    <img src=" /Areas/Admin/images/excel_export.png" class="excel_export" id="ewaExport" />
                </div>
            </div>
            <table id="jobCodeTable" class="table table-striped table-light m-l-4"
                   style="width: 100%; color: black; font-size: 12px; margin-bottom:0;">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Job Code</th>
                        <th>Created By</th>
                    <th>Created On</th>
                    <th>Modified By</th>
                    <th>Modified On</th>
                    <th>Enabled</th>
                    <th>Mandatory</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button type="button" class="btn btn-secondary btn-sm ESAadd" id="addRole">Add</button>

        </div>
       </div>
        <div class="modal" id="newRoleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="RoleModalTitle">Add Job Role</h5>
                        <button type="button" class="close modalCloseBtn" onclick="closeEsaModal()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="df fc">
                            <div class="df rwaModalRow">
                                <div class="addRWALabel">
                                    Job Code
                                </div>
                                <div>
                                    <div>
                                        <input class="jobCode" id="jobCodeInput" placeholder="Enter Job Code" />
                                    </div>
                                </div>
                            </div>

                            <div class="df rwaModalRow">
                                <div class="addRWALabel">
                                    Mandatory
                                </div>
                                <div class="accessRadio">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="Yes" name="jobCodeMandatory"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="mandatory">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="No" name="jobCodeMandatory"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="nomandatory">No</label>
                                    </div>
                                </div>
                            </div>
    						
    						 <div class="df rwaModalRow">
                                <div class="addRWALabel">
                                    Enabled
                                </div>
                                <div class="accessRadio">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="Yes" name="jobCodeAvailable"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="available">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="No" name="jobCodeAvailable"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="noavailable">No</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeESAModal" onclick="closeJobRoleModal()" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="ESAaddRow" onclick="addJobRoleRow()">Submit</button>
                    </div>
                    </div>
                   
                </div>
            </div>


        <script src="~/Areas/Admin/js/fr/jobCodeTable.js"></script>
    </body>

    </html>
